# Segmenting and Clustering Neighborhoods in Toronto

Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe

# Import packages

In [9]:
from bs4 import BeautifulSoup
import re
import requests
import bs4
import pandas as pd
origin = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(origin, 'lxml')

# Get the table

In [17]:
table = soup.find('table', class_ = "wikitable sortable")
df = pd.read_html(str(table))[0]
list = df.drop([0])
list.head()

  Postal Code           Borough                      Neighborhood
1         M2A      Not assigned                               NaN
2         M3A        North York                         Parkwoods
3         M4A        North York                  Victoria Village
4         M5A  Downtown Toronto         Regent Park, Harbourfront
5         M6A        North York  Lawrence Manor, Lawrence Heights

In [18]:
# Ignore cells with a borough that is Not assigned
list1 = list[-list.Borough.isin(['Not assigned'])]
list1.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [22]:
# Replace the Neighbourhood that is not assigned with Borough
import numpy as np
list1['Neighborhood'][list1['Neighborhood'] == 'Not assigned'] = list1['Borough']
list1.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/generic.py:8682: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [29]:
group = list1.groupby(['Postal Code', 'Borough'], as_index = False).agg({'Neighborhood': ['sum']})

# I cannot connect to the API so I'll use the csv instead

In [36]:
coo = pd.read_csv('http://cocl.us/Geospatial_data')
coo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [37]:
coo.rename(columns={'Postal Code':'PostalCode'},inplace=True)
coo.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [38]:
list1.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [40]:
df_merged = list.join(coo.set_index('PostalCode'), on='Postal Code')
df_merged

,Postal Code,Borough,Neighborhood,Latitude,Longitude
1,M2A,Not assigned,NaN,NaN,NaN
2,M3A,North York,Parkwoods,43.753259,-79.329656
3,M4A,North York,Victoria Village,43.725882,-79.315572
4,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
5,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
7,M8A,Not assigned,NaN,NaN,NaN
8,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
9,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
10,M2B,Not assigned,NaN,NaN,NaN
11,M3B,North York,Don Mills,43.745906,-79.352188
12,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
13,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
14,M6B,North York,Glencairn,43.709577,-79.445073
15,M7B,Not assigned,NaN,NaN,NaN
16,M8B,Not assigned,NaN,NaN,NaN
17,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724
18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
19,M2C,Not assigned,NaN,NaN,NaN
20,M3C,North York,Don Mills,43.725900,-79.340923
21,M4C,East York,Woodbine Heights,43.695344,-79.318389
22,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
23,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
24,M7C,Not assigned,NaN,NaN,NaN
25,M8C,Not assigned,NaN,NaN,NaN
26,M9C,Etobicoke,"Eringate, Bloordale Gardens, Old Burnhamthorpe...",43.643515,-79.577201
27,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
28,M2E,Not assigned,NaN,NaN,NaN
29,M3E,Not assigned,NaN,NaN,NaN
30,M4E,East Toronto,The Beaches,43.676357,-79.293031
...,...,...,...,...,...
150,M7W,Not assigned,NaN,NaN,NaN
151,M8W,Etobicoke,"Alderwood, Long Branch",43.602414,-79.543484
152,M9W,Etobicoke,Northwest,43.706748,-79.594054
153,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
154,M2X,Not assigned,NaN,NaN,NaN
155,M3X,Not assigned,NaN,NaN,NaN
156,M4X,Downtown Toronto,"St. James Town, Cabbagetown",43.667967,-79.367675
157,M5X,Downtown Toronto,"First Canadian Place, Underground city",43.648429,-79.382280
158,M6X,Not assigned,NaN,NaN,NaN
159,M7X,Not assigned,NaN,NaN,NaN
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
161,M9X,Not assigned,NaN,NaN,NaN
162,M1Y,Not assigned,NaN,NaN,NaN
163,M2Y,Not assigned,NaN,NaN,NaN
164,M3Y,Not assigned,NaN,NaN,NaN
165,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
166,M5Y,Not assigned,NaN,NaN,NaN
167,M6Y,Not assigned,NaN,NaN,NaN
168,M7Y,East Toronto,Business reply mail Processing Centre,43.662744,-79.321558
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
170,M9Y,Not assigned,NaN,NaN,NaN
171,M1Z,Not assigned,NaN,NaN,NaN
172,M2Z,Not assigned,NaN,NaN,NaN
173,M3Z,Not assigned,NaN,NaN,NaN
174,M4Z,Not assigned,NaN,NaN,NaN
175,M5Z,Not assigned,NaN,NaN,NaN
176,M6Z,Not assigned,NaN,NaN,NaN
177,M7Z,Not assigned,NaN,NaN,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999
179,M9Z,Not assigned,NaN,NaN,NaN